.a {
    color: #4576be;
    border-bottom: 1px solid #4576be;
}
.p {
    margin: 0;
}

/* Синие кружочки уведомлений */
.notice {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #4576be;
}
.no-image {
    font-size: 300%;
    padding: 40px 55px;
    background-color: #e3e3e6;
    color: white;
}

/*  Крестик отмены */
.cancel {
    box-sizing: border-box;
    margin-left: 95%;   
}