body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    display: flex;
    min-width: 1024px;
    min-height: 100%;
    flex-direction: column;
    margin: 0;
}

/* Хедер */

header {
    padding: 0 25px;
    background: #2b2c32;
}
div.header-level1 {
    
    color:#fff;
    height: 70px;
    opacity: 0.95;
    max-width: 1280px;
    margin: 0 auto;
}
div.header-level2 {
    height: 100px;
    max-width: 1280px;
    margin: 0 auto;
    opacity: 0.7;
}
div.header-level3 {
    max-width: 1280px;
    margin: 0 auto;
    height: 60px;
    border-radius: 3px;
    background-color: #4576be;
}

/* Контент */
div.main-content {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 73px 25px 80px;
}

/* Футтер */
footer {
    background: #2b2c32;    
    color: #fff;
    min-height: 140px;
    padding: 0 25px;
}

