html {
    height: 100%;
}
body {
    font-family: 'Trebuchet MS',  'Arial', 'sans-serif';
    display: flex;
    min-width: 1024px;
    min-height: 100%;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
}
a {
    color: #fff;
    text-decoration: none;
}
.a {
    color: #4576be;
    border-bottom: 1px solid #4576be;
}

/* Синие кружочки уведомлений */
.notice {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #4576be;
}
.p {
    margin: 0;
}

#no-image {
    font-size: 300%;
    padding: 40px 55px;
    background-color: #e3e3e6;
    color: white;
}




/* -- Хедер -- */
header::after {
    content: '';
    display: block;
    height: 100px;  
    margin: 0;
    background-image: url('../images/header-bg.jpg');
    background-size: 100% auto;   
    opacity: 0.7;
}
.header {
    background: #2b2c32;
}

/* -- Верхний Хедер -- */
.header-level1 {
    padding: 0 25px;
    color:#fff;
    height: 70px;
    opacity: 0.95;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 20px;

/* Левый блок верхнего Хедера */
}
.header-leftblock {
    flex-basis: 50%;
    align-items: center;
}
.header-menu {
    padding: 0 100px 0 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: baseline;
}
.logo { 
    font-size: 24px;
}
.menu-point {
    padding: 26px 5px;
}
.menu-point:hover {
    color: #fbb233;
    border-bottom: 2px solid #fbb233;
}

/* Правый блок верхнего Хедера */
.header-rightblock {
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.location {
    color: #fff;
    background-color:#2b2c32;
    border-color: #2b2c32;
}

.ava-block {
    display: flex;
    align-items: center;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#notice-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4576be;
    margin: -25px 0 0 -10px;
}



/* -- Меню навигации --*/
.nav {
    width: 100%;
    min-width: 1024px;
    max-width: 1280px;
    margin: -30px auto 0;
    height: 60px;
    border-radius: 3px;
    color:#fff;
    background-color: #4576be;
    opacity: 0.999;
    display: flex;
    justify-content: center;
}
.nav-menu {
    display: flex;
    min-width: 1024px;
    width: 100%;
}
.nav-leftblock {
    list-style-type: none;
    padding:0 100px 0 0;
    display: flex;
    flex-basis: 74%;
    align-items: center;
    justify-content: space-around; 
    margin: 0;
}
.nav-point-menu {
    margin: 0;
    font-size: 14px;
}

/* - Гараж - */
.nav-garage {
    display: flex;
    align-items: center;
    flex-basis: 21%;
    font-size: 14px;
    background-color: #375e98;
    padding-left: 30px;
    color: #fbb233;
    border: none;
}
.button-car {
    display: flex;
    padding-left: 10px;
    color: #fff;
    border: none;
}
.nav-garage:active {
    background-color: #2b5493;
}
.car {
    padding-right: 25px;
}
.nav-cross-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 5%;
    background-color: #315489; 
}
#nav-cross {
    font-size: 16px;
    color: #fbb233;
}




/* -=- Контент - общий блок-=- */

.main-content {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 30px 25px;
}

/* - Сайдбар - */
.menu-sidebar {
    min-width: 230px;
    max-width: 290px;
    padding-top: 10px;
    border: 1px solid #e5e5e5;
    max-height: 460px;  
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    margin: 0;
    padding: 5px 0;
    list-style-type: none;
}
.string-point {
    display: flex;
    align-items: center;
    min-height: 40px;
    color: #b9b9bd;
    padding-left: 20px;
}
.string-point:hover {
    color: #4576be;
    padding-left: 18px;
    border-left: 2px solid #4576be;
}
.text-point {
    display: flex;
    color: #2b2c32;
    padding-left: 10px;
}
.text-point:hover {
    color: #4576be;
}
.div-point-exit {
    min-height: 50px;
    border-top: 1px solid #e5e5e5;
    color: #b9b9bd;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.point-exit {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 10px; 
    color: #2b2c32;
}
.div-point-exit:hover {
    color: #4576be;
    padding-left: 18px;
    border-left: 2px solid #4576be;
}
.point-exit:hover {
    color: #4576be;
}
#point-with-message {
    display: flex;
    justify-content: space-between;
}
.special-point {
    display: flex;
}

/* Уведомления в сандбаре */
#notice-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.button-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 22px;
    margin-right: 15px;
    background-color:#4576be;
    border: none;
    border-radius: 2px;
}
.button-add:active {
    background-color: #2b5493;
    border: 1px solid #b9babc; 
}
#cross1 {
    color:#fbb233;
    padding-right: 5px;
}
.add-docket {
    color: #fff;
}

/* --== Основное содержимое ==-- */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 500px;   
    margin: 0 25px;
}
.main-headline {
    padding: 0 0 22px 0;
    font-size: 22px;
    
}
.main-info {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    border: 1px solid #e5e5e5;
    padding: 15px;
}
.main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.main-profile-info {
    display: flex;
    background-color: #e0f3da;
    justify-content: center;
    align-items: center;
}
.company-info {
    display: flex;
    margin: 16px 0;
}
.company-content {
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.company-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#p-company-name {
    font-size: 20px;
    padding-right: 27px;
}
.arrow-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-percents {
    color: white;
    margin-left: -32px;
}
.a-dotted {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    color: #4576be;
    border-bottom: 1px dotted #4576be;
}
#main-procents {
    font-size: 30px;
    padding: 4px 20px 6px;
}
.main-adding {
    margin-top: 10px;
}
.p-contact {
    margin-bottom: 3px;
    margin-top: 12px;
}


/*  - Нижнии иконки Main - */

.main-bottom {
    display: flex;
    height: 140px;
}
.button-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin: 10px 10px 0 0;
}
.button-bottom:active {
    background-color: rgb(239, 237, 237);
    border: 1px solid #b9babc;  
}
.button-bottom-last {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    flex-grow: 1;
    margin-top: 10px;
}
.button-bottom-last:active {
    background-color: rgb(239, 237, 237);
    border: 1px solid #b9babc; 
}
#buttons-undermain-empty {
    color: #9f9fa2;
    font-size: 250%;
}
#buttons-undermain-not-empty {
    font-size: 250%;
    color: #7f8084;
}
#notice-order {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: -50px;
    margin-top: -10px;
}


/* Боковое меню - Реклама */

.aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 190px;
    max-width: 290px;
    margin-top: 47.6px;
}
.reclame-button {
    width: 100%;
    font-size: 12px;
    color: white;
    background-color: #4576be;
    padding: 10px 10px;
    margin: 20px 0;
    border-radius: 3px;
    border: none;
}
.reclame-button:active {
    background-color: #2b5493;
}

/* Блок рекламы 1 */
.reclame-block1 {
    border: 1px solid #cae1c4;
    background-color: #f1f9ee;
    border-radius: 3px;
    max-height: 226px; 
    padding: 16px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.p-reclame1 {
    margin: 0;
}

.circle-button {
    background-color: #f1f9ee;
    padding: 0;
    margin: 0 10px 0;
    border: none;
}
#circle {
    color: #404146;
    font-size: 6px;
    opacity: 60%;
}
#circle:active {
    opacity: 100%;
}

/* Блок рекламы 2 */

.reclame-block2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 160px;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 16px 20px 0;
}
.p-reclame2 {
    margin: 0;
}


/* -- Футер -- */

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #2b2c32;    
    color: #fff;
    height: 140px;
    justify-content: center;
    gap:20px;
}
.footer-top {
    max-width: 1280px;
    width: 100%;  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-top-left {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
}
.a-footer-top {
    padding-bottom: 17px;
}
.a-footer-top:hover {
    padding-bottom: 16px;
    color: white;
    opacity: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer-icon {
    margin-left: 30px;
    width: 12px;
    height: 14px;
}
.footer-bottom {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.a-footer-bottom {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 31px;
}