html {
    height: 100%;
}

body {
    font-family: 'Trebuchet MS',  Arial, sans-serif;
    display: flex;
    min-width: 1024px;
    min-height: 100%;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* -- Хедер -- */

.header {
    background: #2b2c32;
}

/* -- Верхний Хедер -- */
.header-level1 {
    padding: 0 25px;
    color:#fff;
    height: 70px;
    opacity: 0.95;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 20px;

/* Левый блок верхнего Хедера */
}
.header-leftblock {
    flex-basis: 50%;
    align-items: center;
}
.header-menu {
    padding: 0 100px 0 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: baseline;
}
.logo { 
    font-size: 24px;
}
.menu-point {
    padding: 26px 5px;
}
.menu-point:hover {
    color: #fbb233;
    border-bottom: 2px solid #fbb233;
}

/* Правый блок верхнего Хедера */
.header-rightblock {
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.location {
    color: #fff;
    background-color:#2b2c32;
    border-color: #2b2c32;
}

.ava-block {
    display: flex;
    align-items: center;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.icon-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4576be;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    margin: -25px 0 0 -10px;
}


/* - Средний уровень Хедера - */
.header-level2 {
    height: 100px;  
    margin: 0;
    background-image: url('../images/header-bg.jpg');
    background-size: 100% auto;   
    opacity: 0.7;
}

/* -- Меню навигации --*/

.nav-menu {
    max-width: 1280px;
    margin: -30px auto 0;
    height: 60px;
    border-radius: 3px;
    background-color: #4576be;
    opacity: 0.999;
    display: flex;
    color:#fff;
}
.nav-leftblock {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-basis: 70%;
    align-items: center;
    justify-content: space-around; 
    margin: 0;
}
.nav-point-menu {
    margin: 0;
    font-size: 14px;
}

/* Гараж */
.nav-garage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    font-size: 14px;
    background-color: #375e98;
}
.nav-rightblock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    flex-basis: 5%;
    background-color: #315489;
    color: #fbb233;
}

/* --- Контент --- */

.main-content {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 73px 25px 80px;
}

/* -- Футтер -- */

.footer {
    display: flex;
    flex-direction: column;
    background: #2b2c32;    
    color: #fff;
    min-height: 140px;
    padding: 0 25px;
    justify-content: center;
    gap:20px;
}