a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family:  Arial, sans-serif;
}

/* Блок хедера 1 */
.header-div1 {
    width: 100%;
    height: 70px;
    opacity: 0.95;
    background-color: #2b2c32;
    display: inline-block;
}
ul.header-menu li {
    display: inline;
    margin: 15px 3% 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
}
ul.header-menu li:hover {
    color: #fbb233;
    border-bottom: 2px solid #fbb233;
    padding-bottom: 18px;
}
#carparts {
    margin: 0 127px 10px 2.5%;
    font-size: 24px;
    letter-spacing: 2px;
}
#geoposition {
    margin-left: 17%;
}
li.ava {
    position: absolute;
    right: 20px;
    top: 15px;
}
#avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#ava-message {
    background-color:#4576be;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    right: -20px;
    bottom: 65px;
}
#triangle {
    border-color: #fff;
    position: relative;
    right: -30px;
    bottom: 80px;
}

/* Блок хедера 2 */
.header-div2 {
    height: 100px;
    opacity: 0.7;
    background-image: linear-gradient(to top, rgba(43, 44, 50, 0), #2b2c32);
}

/* Блок хедера 3 */
.header-div3 {
    height: 60px;
    background-color: #4576be;
    margin: -50px 5% 0 5%;
    width: 90%;
    border-radius: 3px;
}
ul.menu2 li {
    display: inline-block;
    color:#fff;
    padding: 15px 3% 0 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
}
div.garage {
    color: white;
    width: 280px;
    height: 60px;
    background-color: #375e98;
    position: relative;
    bottom: 15px;
}
.auto-in-garage {
    font-size: 17px;
    position: relative;
    top: 15px;  
}
/* Блок с крестиком в шапке */
div.cross {
    color: #fbb233;
    background-color: #315489;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 16px;
    right: 0;
}
.cross-ucon {
    font-size: 16px;
    position: relative;
    top: 15px;
}

/* Боковое меню навигации */
div.navigation {
    min-height: 340px;
    min-width: 100px;
    max-width: 290px;
    border: 1px solid #e5e5e5;
    margin: 0 40px 0 5%;
}
ul.basic-menu li{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #2b2c32;
    margin: 20px 66px 20px 8px;
}
div.exit {
    min-height: 60px;
    min-width: 100px;
    max-width: 290px;
    border: 1px solid #e5e5e5;
    margin: 0 40px 30px 5%;
}
a#basic-menu-exit {
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #2b2c32;
    margin: 20px 44px;
}
